<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
            <% results.forEach(result => { %>
                <div class="row">
                    <div>
                        <span>Tên công ty: <%= result.name %> </span><br>
                        <span>Địa chỉ: <%= result.address %> </span><br>
                        <span>Người đại diện: <%= result.master %></span> <br>
                        <span>Số điện thoại: <%= result.phoneNumber %></span> <br>
                        <span>Ngành Nghề: <%= result.field%></span>
                    </div>
                </div>
                <br> <br>
            <% }); %>
    </div>
</body>
</html>